@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
#content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  border: 1px solid rgb(175, 175, 175);
  border-radius: 5px;
  width: 20em;
  margin: 10px 0px 10px 0px;
  font-weight: 700;
  overflow: hidden;
}
.user_img {
  width: 100%;
}
.user_data {
  margin: 20px;
  color: rgb(78, 78, 78);
  font-family: "Noto Sans JP", sans-serif;
}

.user-info {
  text-align: left;
  width: 75%;
}
.button {
  color: white;
  background-color: #047cff;
  width: 50px;
  height: 30px;
  border: none;
  border-radius: 5px;
}
.button:hover {
  cursor: pointer;
}
